<% include ./../_layouts/top-up %>

<% if(user.isAuthenticated) { %>
<script type="text/javascript" src="/javascripts/todo-list.js" ></script>
<% } %>

<% include ./../_layouts/top-down %>
  <div class="container">


    <h1>
        <% if(user.isAuthenticated) { %>
        <a href="/todos/new" class="btn btn-success pull-right" >+ Nova Tarefa</a>
        <% } %>
        Lista de Tarefas
    </h1>

    <ul>

    <% todos.forEach(function(todo) { %>

        <form action="/todos/check/<%=todo.id%>" method="POST">
		  <li class="todo-item" id="todo-<%=todo.id%>" >
            <% if(user.isAuthenticated) { %>
            <span class="pull-right">
                <a title="Remover" href="/todos/delete/<%=todo.id%>" 
                   onclick="return removeTodo('<%=todo.id%>');">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>

                <a title="Editar"  href="/todos/edit/<%=todo.id%>"> <i class="glyphicon glyphicon-edit"></i></a>
            </span>
            <% } %>


			<h3 class="title">
                <span class="checkbox" 
                    <% if(user.isAuthenticated) { %>
                      onclick="this.parentNode.parentNode.parentNode.submit()"
                    <% } %>
                >
                    <% if(todo.done) { %>
                    <i class="checkbox glyphicon glyphicon-ok" > </i>
                    <% } else { %>
                    <i class="checkbox glyphicon glyphicon-unchecked" > </i>
                    <% } %>
                </span>
                <span class="titlevalue"><%= todo.title %></span>
            </h3>
			<small class="description text-muted"><%= todo.description %></small>
            <div class="when pull-right"><span class="text-muted"><%=todo.creationDate.toLocaleDateString()%> - <%=todo.creationDate.toLocaleTimeString()%></span></div>
		  </li>
        </form>

	<% }) %>
	</ul>


  </div>

<% include ./../_layouts/bottom %>